{% extends 'base.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h2 class="mt-4">Attendance</h2>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Attendance</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Attendance table
                </div>
                <div class="card-body">
                    <table id="attendance-table" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Student ID</th>
                                <th>QR Code ID</th>
                                <th>Date and time</th>
                                <th>Question answer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script>

        // Show attendance
        $.ajax({
            url: '/v1/attendance',
            type: 'GET',
            success: function (response) {
                console.log(response);
                var table = $('#attendance-table').DataTable({
                    responsive: true,
                    data: response,
                    columns: [
                        { data: 'id' },
                        { data: 'student_id' },
                        { data: 'qr_code_id', visible: false },
                        { data: 'checkin_time' },
                        { data: 'question_answer' },
                        {
                            data: 'status',
                            render: function (data, type, row) {
                                var statusClass = 'badge ';
                                if (data == 'present') {
                                    statusClass = 'badge badge-success';
                                } else if (data == 'absent') {
                                    statusClass = 'badge badge-danger';
                                }
                                return '<span class="' + statusClass + '">' + data + '</span>';

                            }
                        }
                    ]
                });
            },
            error: function (error) {
                console.log(error);
                alert('Failed to get attendance');
            }
        });


    </script>

    <style>
        .badge {
            padding: 5px 10px;
            border-radius: 10px;
            font-weight: bold;
            color: black;
        }

        .badge-success {
            background-color: #28a745;
            color: #fff;
        }

        .badge-danger {
            background-color: #dc3545;
            color: #fff;
        }
    </style>


    {% endblock %}