{% extends 'base.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <!-- Button to trigger modal -->
    <div class="modal fade" id="createAttendanceModal" tabindex="-1" aria-labelledby="createAttendanceModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="mb-3">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h2 class="mt-4">Attendance</h2>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Attendance</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Attendance table
                </div>
                <div class="card-body">
                    <table id="attendance-table" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Student ID</th>
                                <th>QR Code ID</th>
                                <th>Check in Date and time</th>
                                <th>Attendance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script>

        $('#create-attendance-btn').click(function () {
            $('#create-attendance-form').submit();
        });

        // Clear form fields when modal is closed
        $('#createAttendanceModal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
        });

        // Clear form fields when modal is closed
        $('#updateAttendanceModal').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();
        });

        // Set the class name when a dropdown item is selected
        $('.dropdown-item').click(function () {
            var selectedValue = $(this).data('value');
            $('#classDropdownButton').text(selectedValue);
            $('#class_id').val(selectedValue);
        });

        // Validate form
        function validateForm() {
            var form = document.getElementById("create-attendance-form");
            if (!form.checkValidity()) {
                // If the form is not valid, display an error message
                alert("Please fill in all required fields.");
                return false;
            }
            return true;
        }

        // Show attendance
        $.ajax({
            url: '/v1/attendance',
            type: 'GET',
            success: function (response) {
                console.log(response);
                var table = $('#attendance-table').DataTable({
                    responsive: true,
                    data: response,
                    columns: [
                        { data: 'id' },
                        { data: 'student_id' },
                        { data: 'qr_code_id' },
                        { data: 'check_in_time' },
                        { data: 'status' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<button class="delete-button btn btn-danger" data-id="' + data.id + '"><i class="fas fa-trash"></i></button>';

                            }
                        }
                    ]
                });


            },
            error: function (error) {
                console.log(error);
                alert('Failed to get attendance');
            }
        });

    </script>

    {% endblock %}